<div ng-controller="ToDoCtrl">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#/">Tasks <span class="badge">{{ taskCount }}</span></a></li>
    <li role="presentation" class="active"><a href="#/archive">Archive <span class="badge">{{ archivedTaskCount }}</a></li>
  </ul>   
  <h2>Archive</h2>
  <p ng-show="tasks.length === 0">
    - Empty List -
  </p>
  <div class="checkbox" ng-repeat="task in tasks | filter: archived">
    <label ng-class="{'task-done': task.done}">
      <input type="checkbox" ng-model="task.done"><b>{{task.user.name}}</b> : {{ task.name }}
    </label>
  </div>
</div>