<div ng-controller="ToDoCtrl">
  <h2>Tasks</h2>
  <a href="#/">Tasks</a>
  <a href="#/archive">Archive</a>
  <p ng-show="tasks.length === 0">
    - Empty List -
  </p>
  <div class="checkbox" ng-repeat="task in tasks | filter: notArchived">
    <label ng-class="{'task-done': task.done}">
      <input type="checkbox" ng-model="task.done"><b>{{task.user.name}}</b> : {{ task.name }}
    </label>
  </div>
  <form name="newTaskForm">
    <div class="form-group" ng-class="{ 'has-error': newTaskForm.taskName.$invalid }">
      <label>Name the task</label>
      <input type="text" name="taskName" class="form-control" placeholder="Task name" ng-model="newTask.name" ng-minlength="0" required>
    </div>
    <div class="form-group" ng-class="{ 'has-error': newTaskForm.taskUser.$error.required }">
      <label>Name the user</label>
      <select name="taskUser" class="form-control" ng-model="newTask.user" ng-options="user as user.name for user in users" required>
      </select>
    </div>
    <button class="btn btn-default" ng-click="createNewTask()">New Task</button>
  </form>
  <button class="btn btn-default" ng-show="!archive" ng-click="archiveDoneTasks()">Archive Done Tasks</button>

</div>